.calendars {
  width: 100px;
  top: 50px;
  background-color: white;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.calendars a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.add-calendar {
  padding: 10px 15px;
  background-color: #663399;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}

.add-calendar-container {
  position: relative;
}

.stream-summary {
  display: flex;
}

.stream-summary > * {
  flex: 1;
}

.stream-summary > *:first-child {
  margin-right: 20px;
}

.stream img {
  max-width: 100%;
}

.stream h3 {
  margin: 0;
}

.stream h3 a {
  text-decoration: none;
  color: currentColor;
}

.stream h3 a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .stream-summary {
    flex-direction: column;
  }

  .stream-summary > *:first-child {
    margin-right: 0;
  }
}

