@media screen and (max-width: 1440px) {
  .projects {
    position: initial;
    width: auto;
    margin-top: 56px;
    padding-top: 28px;
  }
}
@media screen and (min-width: 1440px) {
  .projects {
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;
    padding-top: 0;
  }

  .separator {
    display: none;
  }
}

